<section  animate.enter="enter-animation"
  class="w-full flex justify-center items-top sm:mt-[5%]!"
  >
  <form class="login_card w-105 px-10 pt-7 pb-10 max-sm:w-full max-sm:shadow-none! max-sm:px-[10%]!"
  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 grid gap-8">
      <h2>
        Esqueceu Palavra-passe?
      </h2>
      <p class="login_subtitle">
        Enter the email address associated with your account.
      </p>
    </div>

    <div class="w-full flex flex-wrap justify-center items-end gap-3">
      <p-iconfield class="w-full">
        <p-inputicon class="pi pi-at" />
        <input type="email" pInputText
          id="login_user"
          autocomplete="off"
          formControlName="email"
          [ngClass]="{'invalid-input': isError}"
          placeholder="Enter e-mail"/>
      </p-iconfield>
      @if (isError) {
        <small class="invalid-field">
          Please enter a valid email address
        </small>
      }
      @if (isError) {
        <div class="mb-1"></div>
      }
    </div>

    <div class="mt-8"></div>
    <button pRipple type="submit" [routerLink]="['/auth/validate-code']"
      class="btn-submit w-full"
      >
      @if (showLoader) {
        <div class="loader">
          <span class="small_loader"></span>
        </div>
      }
      @else {
        Confirmar
      }
    </button>

    <span class="flex justify-start mt-5">
      <a pRipple type="button" class="btn-default text-sm"
        [routerLink]="['/sign-in']"
      >Voltar</a>
    </span>
  </form>
</section>
