@use "../../core/src/lib/assets/theme/global.scss";

html, body {
  background: var(--background-color);
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  margin: 0;
  padding: 0;

  cursor: default;
  user-select: none;

  @extend .k2d-light;
  font-size: clamp(10pt, 2dvw, 11pt);
  color: var(--text-color);

  a, button {
    cursor: pointer;
  }
}

body {
  overscroll-behavior: contain; // evita "bounce" indesejado no mobile
}

.scrollbar_custom {
  border: 2px solid transparent;
  background-clip: content-box;

  &::-webkit-scrollbar {
    width: 0.3em;    // vertical
    height: 0.3em;   // horizontal
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: oklch(89.432% 0.17218 163.04 / 0.2);
    &:hover {
      background-color: oklch(89.432% 0.17218 163.04 / 0.6);
    }
  }
}

.login_card {
  background-clip: content-box;
  background: var(--auth-background);
  backdrop-filter: var(--auth-backdrop-filter);
  -webkit-backdrop-filter: var(--auth-backdrop-filter);
  text-align: center;
  margin-bottom: 2%;
  border-radius: 1rem;
  box-shadow: var(--login-box-shadow);

  h2 {
    @extend .k2d-bold;
    font-size: clamp(18pt, 2dvw, 24pt);
  }

  small {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0.2rem;
  }

  .btn-submit {
    color: var(--status-yellow-color);
    background: transparent;
    padding: 0.45rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--status-yellow-color);

    &:hover {
      background: var(--status-yellow-background);
    }
  }
}

.login_subtitle {
  @extend .k2d-thin;
  text-align: center;
  color: var(--label-color);
}

.disable_btn:disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  @extend .k2d-thin;
  font-size: clamp(10pt, 2dvw, 12pt);
  color: var(--label-color);
  border: 0.1rem solid var(--border-color);
  cursor: not-allowed;
  opacity: 0.4;

    &:active {
    color: var(--label-color) !important;
    border: 0.1rem solid var(--border-color) !important;
    background: none;
    box-shadow: none;
  }
}

.btn-sign-in {
  @extend .disable_btn;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: oklch(68.285% 0.12991 158.169);
  border: 0.1rem solid oklch(68.285% 0.12991 158.169);
  border-radius: 0.3rem;
  height: clamp(38px, 3vw, 40px);
  transition: all 200ms ease-in-out;

  &:hover {
    background: linear-gradient(45deg, oklch(70% 0.12991 158.169 / 0.1), oklch(65% 0.12991 158.169 / 0.1));
  }
}

.btn-default {
  @extend .k2d-thin;
  color: var(--label-color);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;

  &:hover {
    color: var(--orange-color) !important;
    text-decoration-line: underline;
    text-decoration-color: var(--orange-color);
    text-decoration-thickness: 0.01rem;
    text-underline-offset: 0.4rem;
    transition: all 50ms ease-in-out;
  }
}

.default_active_btn {
  color: var(--focus-color)
  !important;
  border: 0.1rem solid var(--focus-color) !important;
  background: linear-gradient(45deg, oklch(70% 0.12991 158.169 / 0.1), oklch(65% 0.12991 158.169 / 0.1));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

.btn_common {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  @extend .k2d-thin;
  font-size: clamp(10pt, 2dvw, 12pt);
  color: var(--label-color);
  border: 0.1rem solid var(--border-color);

  &:hover {
    color: var(--text-color);
    border: 0.1rem solid var(--label-color);
    background: transparent;
    transition: all 100ms ease-in-out;
  }

  &:active {
    @extend .default_active_btn;
  }
}

.default_btn {
  button {
    @extend .btn_common;
    border-radius: 0.3rem;
    min-width: 8rem;
    height: 2.2rem;
    padding: 0 1rem 0 1rem;
  }
}

.btn_only_icon {
  @extend .btn_common;
  border-radius: 0.3rem;
  width: clamp(32px, 2vw, 35px);
  height: clamp(32px, 2vw, 35px);
}

footer { @extend .k2d-thin; }

.sidebar_btn {
  a {
    background: transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 2.7rem;
    width: 100%;
    border-radius: 0.3rem;
    color: var(--label-color);
    transition: all 200ms ease-in-out;

    &:hover {
      color: var(--text-color);
      background: oklch(70% 0.12991 158.169 / 0.1);

      .active-line_btn {
        border-color: var(--text-color);
      }
    }
  }
}

.sidebar_profile_btn {
  a {
    background: transparent;
    height: 3.2rem;
    width: 100%;
    border-radius: 0.3rem;
    color: var(--label-color);
    transition: all 200ms ease-in-out;

    &:hover {
      color: var(--text-color);
      background: oklch(70% 0.12991 158.169 / 0.1);

      .active-line_btn {
        border-color: var(--text-color);
      }
    }
  }
}

.active-btn {
  background: linear-gradient(50deg, oklch(70% 0.12991 158.169 / 0.2), oklch(65% 0.12991 158.169 / 0.4), transparent) !important;
  @extend .k2d-medium;
  color: var(--text-color) !important;
  transition: all 400ms ease-in-out;

  .active-span, .active-line_btn {
    height: 1.5rem;
    border-radius: 0.1rem;
    border-left: 0.2rem solid var(--active-color);
    animation: glow 1.5s ease-in-out infinite;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 0 0 var(--active-color);
      opacity: 0.7;
    }
    50% {
      box-shadow: 0 0 8px 2px var(--active-color);
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 0 var(--active-color);
      opacity: 0.7;
    }
  }
}

.active-line_btn {
  height: 1.2rem;
  border-radius: 0.1rem;
  border-left: 0.15rem solid var(--divider-color);
  transition: all 100ms ease-in-out;
}

.glass-sidebar {
  border-radius: 0.5rem;
  padding: 0.5rem;

  background: var(--glass-background);
  backdrop-filter: var(--glass-backdrop);
  -webkit-backdrop-filter: var(--glass-backdrop);
  border: var(--glass-border);
  box-shadow: var(--glass-shadow);
}

.card_common {
  gap: 0.2rem;
  min-width: 5rem;
  min-height: 5rem;
}

.default_card {
  @extend .card_common;
  padding: 0.7rem;
  background: var(--card-background);
  backdrop-filter: var(--card-backdrop-filter);
  -webkit-backdrop-filter: var(--card-backdrop-filter);
  border: var(--card-border);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: oklch(65.092% 0.13094 157.996 / 0.5);
    box-shadow: var(--menu-shadow);
    transform: translateY(-4px);
  }
}

.enrolment {
  h4 {
    font-size: clamp(12pt, 2dvw, 14pt);
    @extend .k2d-bold;
  }

  small, p { color: var(--label-color); }

  .btn_enrol {
    color: var(--status-orange-color);
    background: transparent;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--status-orange-color);

    &:hover {
      background: var(--status-orange-background);
    }

    &:active {
      background: var(--status-orange-background);
    }
  }
}
