<section class="w-full overflow-hidden">
  <p-stepper [(value)]="activeStep" class="basis-[40rem]" [linear]="false">
    <p-step-list>
      <p-step [value]="1" class="flex flex-row flex-auto gap-2">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
            <span
              class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
              [ngClass]="{
                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                'border-surface': value > activeStep
              }"
            >
              <i class="pi pi-user"></i>
            </span>
          </button>
        </ng-template>
      </p-step>

      <p-step [value]="2" class="flex flex-row flex-auto gap-2">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
            <span
              class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
              [ngClass]="{
                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                'border-surface': value > activeStep
              }"
            >
              <i class="pi pi-wallet"></i>
            </span>
          </button>
        </ng-template>
      </p-step>

      <p-step [value]="3" class="flex flex-row flex-auto gap-2">
        <ng-template #content let-activateCallback="activateCallback" let-value="value">
          <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
            <span
              class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
              [ngClass]="{
                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                'border-surface': value > activeStep
              }"
            >
              <i class="pi pi-check"></i>
            </span>
          </button>
        </ng-template>
      </p-step>
    </p-step-list>

    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <article class="animate-fade-in-up delay-200 enrolment px-80 w-full flex justify-center items-center">
            <form
              [formGroup]="form"
              class="my-1 enrolment_card scrollbar_select w-full px-10 flex flex-col gap-10 justify-center items-center"
            >
              <div class="w-full flex flex-col gap-5">
                <h4 class="opacity-90">Detalhes do Curso</h4>
                <div class="w-full flex justify-center items-center gap-10">
                  <div class="w-full flex flex-col">
                    <label>Modalidade</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-sitemap" />
                      <p-select
                        formControlName="modality"
                        inputId="on_modality"
                        [options]="modalityOptions"
                        optionLabel="value"
                        optionValue="id"
                        class="w-full"
                        placeholder="Selecione"
                      />
                    </p-iconfield>
                  </div>

                  <div class="w-full flex flex-col">
                    <label>Pacote</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-bookmark" />
                      <p-select
                        formControlName="package"
                        inputId="on_package"
                        [options]="packageOptions"
                        optionLabel="value"
                        optionValue="id"
                        class="w-full"
                        placeholder="Selecione"
                      />
                    </p-iconfield>
                  </div>

                  <div class="w-full flex flex-col">
                    <label>Nível</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-gauge" />
                      <p-select
                        formControlName="level"
                        inputId="on_level"
                        [options]="levelOptions"
                        optionLabel="value"
                        optionValue="id"
                        class="w-full"
                        placeholder="Selecione"
                      />
                    </p-iconfield>
                  </div>

                  <div class="w-full flex flex-col">
                    <label>Horário</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-clock" />
                      <p-select
                        formControlName="time"
                        inputId="on_time"
                        [options]="timeOptions"
                        optionLabel="value"
                        optionValue="id"
                        class="w-full"
                        placeholder="Selecione"
                      />
                    </p-iconfield>
                  </div>
                </div>
              </div>

              <div class="w-full flex flex-col gap-5">
                <h4 class="opacity-90">Dados Pessoais</h4>
                <div class="w-full flex flex-col gap-5">
                  <div class="w-full flex justify-center items-center gap-10">
                    <div class="w-full flex flex-col">
                      <label>Nome Completo</label>
                      <p-iconfield>
                        <p-inputicon class="pi pi-user" />
                        <input type="text" pInputText id="on_fullName" autocomplete="off" formControlName="fullName" placeholder="Nome Completo"/>
                      </p-iconfield>
                    </div>

                    <div class="w-full flex flex-col">
                      <label>Genêro</label>
                      <p-iconfield>
                        <p-inputicon class="pi pi-mars" />
                        <p-select
                          formControlName="gender"
                          inputId="on_gender"
                          [options]="genderOptions"
                          optionLabel="value"
                          optionValue="id"
                          class="w-full"
                          placeholder="Genêro"
                        />
                      </p-iconfield>
                    </div>

                    <div class="w-full flex flex-col">
                      <label>Data de Nascimento</label>
                      <p-datepicker
                        formControlName="dateBirth"
                        dateFormat="dd/mm/yy"
                        inputId="on_dateBirth"
                        showIcon
                        iconDisplay="input"
                        autocomplete="off"
                        class="w-full"
                        placeholder="Data de Nascimento"
                      />
                    </div>
                  </div>

                  <div class="w-full flex justify-center items-center gap-10">
                    <div class="w-full flex flex-col">
                      <label>E-mail (Opcional)</label>
                      <p-iconfield>
                        <p-inputicon class="pi pi-at" />
                        <input type="email" pInputText id="on_email" autocomplete="off" formControlName="email" placeholder="E-mail (Opcional)"/>
                      </p-iconfield>
                    </div>

                    <div class="w-full flex flex-col">
                      <label>Número de Telefone</label>
                      <p-iconfield>
                        <p-inputicon class="pi pi-phone" />
                        <p-inputmask mask="(+258) 89 999 9999" id="on_phone" formControlName="phone" placeholder="(+258) 8X XXX XXXX"/>
                      </p-iconfield>
                    </div>

                    <div class="w-full flex flex-col">
                      <label>Endereço Residencial</label>
                      <p-iconfield>
                        <p-inputicon class="pi pi-map-marker" />
                        <input type="text" pInputText id="on_residencialAddress"  autocomplete="off" formControlName="residencialAddress" placeholder="Endereço Residencial"/>
                      </p-iconfield>
                    </div>
                  </div>
                </div>
              </div>

              <div class="w-full flex flex-col gap-5">
                <div class="flex flex-col gap-2 items-start">
                  <div class="flex gap-2 items-center">
                    <h4 class="opacity-90">Encarregado de Educação</h4>
                    <small>(Opcional)</small>
                  </div>
                  <p> Se o aluno tem menos de 18 anos, preencha os dados do seu pai, mãe ou responsável. Se tem 18 anos ou mais, pode deixar vazio.</p>
                </div>
                <div class="w-full flex gap-10">
                  <div class="w-full flex flex-col">
                    <label>Nome Completo</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-user" />
                      <input type="text" pInputText id="username" autocomplete="off" formControlName="fullName" placeholder="Nome Completo"/>
                    </p-iconfield>
                  </div>

                  <div class="w-full flex flex-col">
                    <label>Número de Telefone</label>
                    <p-iconfield>
                      <p-inputicon class="pi pi-phone" />
                      <p-inputmask mask="(+258) 89 999 9999" formControlName="phone" placeholder="(+258) 8X XXX XXXX"/>
                    </p-iconfield>
                  </div>
                </div>
              </div>

              <span class="w-200 text-center mb-3">Ao clicar no botão "Confirmar Inscrição" abaixo, está a concordar com os nossos <a class="text-red-500">Termos e Condições</a> e a nossa <a class="text-red-500">Política de Privacidade</a>.</span>

              <button pRipple type="submit"
                class="btn_enrol w-full flex gap-1 justify-center items-center">
                Confirmar Inscrição
              </button>
            </form>
          </article>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <section>
            <span class="login_subtitle block">Confira o total e finalize o pedido 😊</span>
            <span class="login_subtitle block mb-5">Escolha como quer pagar</span>
            <form class="mb-6 w-full flex flex-col justify-center">
              <section class="flex gap-5">
                <article class="relative inline-block">
                  <div
                    class="pos_img_btn w-35 h-35 flex flex-col gap-3 justify-center items-center rounded-md overflow-hidden cursor-pointer select-none"
                    [class.blur-effect]="isCashHovered"
                    (mouseenter)="isCashHovered = true"
                    (mouseleave)="isCashHovered = false"
                    (click)="toggleMethod('cash')">

                    <!-- Imagem -->
                    <img
                      src="/assets/images/cash_pt.png"
                      alt="product"
                      class="w-full h-full object-cover rounded-md transition-all duration-300">

                    <!-- Overlay com ícone + ou x -->
                    <div
                      class="w-35 h-35 absolute inset-0 bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300 pointer-events-none"
                      [class.opacity-100]="isCashHovered">

                      <i
                        style="font-size: 2rem;"
                        class="pi"
                        [class.pi-plus]="!cashPriceEnabled"
                        [class.pi-times]="cashPriceEnabled">
                      </i>
                    </div>
                  </div>

                  <!-- Campo de preço (aparece só quando ativado) -->
                  <div #cashField
                    class="w-35 mt-3 transition-all duration-300"
                    [class.opacity-0]="!cashPriceEnabled"
                    [class.opacity-100]="cashPriceEnabled"
                    [class.h-0]="!cashPriceEnabled"
                    [class.h-auto]="cashPriceEnabled">

                    <p-floatlabel variant="on" class="w-full">
                      <p-iconfield>
                        <p-inputnumber
                          [readonly]="isCashReadonly"
                          [min]="0"
                          inputId="on_cash"
                          autocomplete="off"
                          class="w-full"
                          [formControl]="cashPriceControl" />
                      </p-iconfield>
                      <label for="on_cash">Valor a pagar</label>
                    </p-floatlabel>
                  </div>
                </article>
                <article class="relative inline-block">
                  <div
                    class="pos_img_btn w-35 h-35 flex flex-col gap-3 justify-center items-center rounded-md overflow-hidden cursor-pointer select-none"
                    [class.blur-effect]="isEMolaHovered"
                    (mouseenter)="isEMolaHovered = true"
                    (mouseleave)="isEMolaHovered = false"
                    (click)="toggleMethod('eMola')">

                    <!-- Imagem -->
                    <img
                      src="/assets/images/e-mola_logo.png"
                      alt="product"
                      class="w-full h-full object-cover rounded-md transition-all duration-300">

                    <!-- Overlay com ícone + ou x -->
                    <div
                      class="w-35 h-35 absolute inset-0 bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300 pointer-events-none"
                      [class.opacity-100]="isEMolaHovered">

                      <i
                        style="font-size: 2rem;"
                        class="pi"
                        [class.pi-plus]="!eMolaPriceEnabled"
                        [class.pi-times]="eMolaPriceEnabled">
                      </i>
                    </div>
                  </div>

                  <!-- Campo de preço (aparece só quando ativado) -->
                  <div #eMolaField
                    class="w-35 mt-3 transition-all duration-300"
                    [class.opacity-0]="!eMolaPriceEnabled"
                    [class.opacity-100]="eMolaPriceEnabled"
                    [class.h-0]="!eMolaPriceEnabled"
                    [class.h-auto]="eMolaPriceEnabled">

                    <p-floatlabel variant="on" class="w-full">
                      <p-iconfield>
                        <p-inputnumber
                          [readonly]="isEMolaReadonly"
                          [min]="0"
                          inputId="on_eMola"
                          autocomplete="off"
                          class="w-full"
                          [formControl]="eMolaPriceControl" />
                      </p-iconfield>
                      <label for="on_eMola">Valor a pagar</label>
                    </p-floatlabel>
                  </div>
                </article>
                <article class="relative inline-block">
                  <div
                    class="pos_img_btn w-35 h-35 flex flex-col gap-3 justify-center items-center rounded-md overflow-hidden cursor-pointer select-none"
                    [class.blur-effect]="isMPesaHovered"
                    (mouseenter)="isMPesaHovered = true"
                    (mouseleave)="isMPesaHovered = false"
                    (click)="toggleMethod('mPesa')">

                    <!-- Imagem -->
                    <img
                      src="/assets/images/m-pesa_logo.png"
                      alt="product"
                      class="w-full h-full object-cover rounded-md transition-all duration-300">

                    <!-- Overlay com ícone + ou x -->
                    <div
                      class="w-35 h-35 absolute inset-0 bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300 pointer-events-none"
                      [class.opacity-100]="isMPesaHovered">

                      <i
                        style="font-size: 2rem;"
                        class="pi"
                        [class.pi-plus]="!mPesaPriceEnabled"
                        [class.pi-times]="mPesaPriceEnabled">
                      </i>
                    </div>
                  </div>

                  <!-- Campo de preço (aparece só quando ativado) -->
                  <div #mPesaField
                    class="w-35 mt-3 transition-all duration-300"
                    [class.opacity-0]="!mPesaPriceEnabled"
                    [class.opacity-100]="mPesaPriceEnabled"
                    [class.h-0]="!mPesaPriceEnabled"
                    [class.h-auto]="mPesaPriceEnabled">

                    <p-floatlabel variant="on" class="w-full">
                      <p-iconfield>
                        <p-inputnumber
                          [readonly]="isMPesaReadonly"
                          [min]="0"
                          inputId="on_mPesa"
                          autocomplete="off"
                          class="w-full"
                          [formControl]="mPesaPriceControl" />
                      </p-iconfield>
                      <label for="on_mPesa">Valor a pagar</label>
                    </p-floatlabel>
                  </div>
                </article>
              </section>

              <p-divider style="margin-top: 2rem; margin-bottom: 2rem;"/>

              <div>
                <span class="flex items-center justify-between">
                  <h2> Total </h2>
                  <h3>{{ totalAmount() }}</h3>
                </span>
                <span class="flex items-center justify-between">
                  <h2> Pago </h2>
                  <h3 class="text-green-600!">{{ totalPaid() }}</h3>
                </span>
                <p-divider style="margin-top: 0.7rem; margin-bottom: 0.7rem;"/>
                <span class="flex items-center justify-between">
                  <h2> Falta </h2>
                  <h3  class="text-red-600!">{{ totalDue() }}</h3>
                </span>
                <span class="flex items-center justify-between">
                  <h2> Troco </h2>
                  <h3  class="text-yellow-600!">{{ totalChange() }}</h3>
                </span>
              </div>
            </form>
            <ng-template #footer>
              <div class="w-full grid gap-3">
                <div class="w-full flex justify-between items-center">
                  <button pRipple type="button"
                    class="btn_cancel"
                  >
                    Voltar
                  </button>

                  <button pRipple type="submit"
                    class="pos_place_order_btn"
                    [disabled]="showLoader"
                    [disabled]="(totalDue() > 0) || (cashPriceControl.value == 0) || (eMolaPriceControl.value == 0) || (mPesaPriceControl.value == 0)"
                  >
                    @if (showLoader) {
                      <div class="loader">
                        <span class="small_loader"></span>
                      </div>
                    }
                    @else {
                      Confirmar Pagamento
                    }
                  </button>
                </div>
                <small class="w-full flex gap-1 justify-center items-center">
                  <i class="pi pi-shield" style="font-size: 0.7rem;"></i>
                  <span>Transação segura e protegida!</span>
                </small>
              </div>
            </ng-template>
          </section>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col items-center gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
            <div class="text-center mt-4 mb-4 text-xl font-semibold">Account created successfully</div>
            <div class="text-center">
              <img alt="logo" src="https://primefaces.org/cdn/primeng/images/stepper/content.svg" />
            </div>
          </div>
          <div class="flex pt-6 justify-start">
            <p-button (onClick)="activateCallback(2)" label="Back" severity="secondary" icon="pi pi-arrow-left" />
          </div>
          </ng-template>
        </p-step-panel>
    </p-step-panels>
  </p-stepper>
</section>
