<div class="card w-full rounded-3xl overflow-hidden shadow-2xl">
  <div class="relative h-56">
    <img
      src="https://images.unsplash.com/photo-1758270705172-07b53627dfcb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxkaXZlcnNlJTIwZ3JvdXAlMjBzdHVkeWluZ3xlbnwxfHx8fDE3NjU3MTg5Mzh8MA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral"
      alt="Programa Infantil"
      class="absolute inset-0 w-full h-full object-cover"
    />
  </div>
  <!-- Content -->
  <div class="p-6 space-y-4">
    <div class="flex flex-col gap-2">
      <div class="flex gap-5 justify-start items-center">
        <small class="flex gap-2 justify-start items-center opacity-90">
          <i class="pi pi-calendar"></i>
          <span>28 de Dezembro de 2025</span>
        </small>
        <small class="flex gap-2 justify-start items-center opacity-90">
          <i class="pi pi-eye"></i>
          <span>2K</span>
        </small>
      </div>
      <h3 class="text-2xl font-extrabold opacity-90">Inscrições Abertas</h3>
      <p class="mt-2 text-sm leading-relaxed opacity-80">
        Estamos entusiasmados em anunciar a abertura do nosso novo campus com instalações e tecnologia de ponta.
      </p>
    </div>

    <button pRipple class="flex gap-3 justify-center items-center">
      <p>Ler Mais</p>
    </button>
  </div>
</div>
