<section class="w-full h-full flex flex-col gap-5">
  <article class="default_btn">
    <button pRipple type="button"
      (click)="onDialogCreate()"
      class="flex gap-4 justify-center items-center"
    >
      <i class="pi pi-plus" style="font-size: 0.7rem"></i>
      <span>Novo Funcionário</span>
    </button>
  </article>
  <article class="w-full grid grid-cols-4 gap-5">
    @for (n of [1,2,3]; track n) {
      <div class="hr-card">
        <div class="hr-card_header"></div>

        <div class="hr-card_avatar flex justify-center items-center">
          @if (false)
          {
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" [style]="{ width: '88px', height: '88px' }" />
          }
          @else
          {
            <div class="flex justify-center">
              <div
                class="flex justify-center items-center bg-[#24704D] text-[#FFFFFF] text-5xl w-[88px] h-[88px] rounded-full"
              >
                {{ ('Ramadan Ibraimo').charAt(0).toUpperCase() }}
              </div>
            </div>
          }
        </div>

        <span class="hr-card_role">
          <i class="pi pi-user"></i>
          Formador
        </span>

        <h3 class="hr-card_name">Carlos Mendes</h3>

        <div class="hr-card_meta">
          <div>
            <span>Subcídio:</span>
            <strong>15 000,00 MT</strong>
          </div>
          
          <div>
            <span>Telefone:</span>
            <strong>+258 84 123 4567</strong>
          </div>

          <div>
            <span>Email:</span>
            <strong>carlos.mendes@gmail.com</strong>
          </div>

          <div>
            <span>Utilizador:</span>
            <strong>carlos123</strong>
          </div>

          <div>
            <span>Permissão:</span>
            <strong>Administrador</strong>
          </div>

          <div>
            <span>Acesso ao sistema:</span>
            <strong class="status active">Ativo</strong>
          </div>
        </div>

        <div class="hr-card_actions">
          <button pRipple class="btn_update_normal btn edit">
            <i class="pi pi-pencil"></i>
            Editar
          </button>

          <button pRipple class="btn_delete_normal btn remove">
            <i class="pi pi-trash"></i>
            Remover
          </button>
        </div>
      </div>
    }
  </article>
</section>
