$ease-pro: cubic-bezier(0.4, 0, 0.2, 1);

.simple-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s $ease-pro, transform 1s $ease-pro;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &:nth-child(1)  { transition-delay: 0.1s; }
  &:nth-child(2)  { transition-delay: 0.2s; }
  &:nth-child(3)  { transition-delay: 0.3s; }
  &:nth-child(4)  { transition-delay: 0.4s; }
  &:nth-child(5)  { transition-delay: 0.5s; }
  &:nth-child(6)  { transition-delay: 0.6s; }
  &:nth-child(7)  { transition-delay: 0.7s; }
  &:nth-child(8)  { transition-delay: 0.8s; }
}
