@use "../../core/src/lib/assets/theme/global.scss";

html, body {
  background: var(--background-color);
  width: 100%;
  min-height: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

  cursor: default;
  user-select: none;

  @extend .k2d-light;
  font-size: clamp(10pt, 2dvw, 11pt);
  color: var(--text-color);

  a, button {
    cursor: pointer;
  }
}

.default_navbar_btn {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  padding: 0.5rem 0.85rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background: linear-gradient(
      to right,
      rgba(167, 243, 208, 0.4),
      rgba(59, 130, 246, 0.4)
    );
    color: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15),
                0 10px 10px -5px rgba(0, 0, 0, 0.08);
  }
}

.navbar {
  .title-nav {
    @extend .k2d-extrabold;
    font-size: 1.3rem;
  }

  .btn_navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      @extend .default_navbar_btn;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    button {
      @extend .default_navbar_btn;
    }

    .btn_nav-actived {
      background: linear-gradient(
        to right,
        rgba(167, 243, 208, 0.4),
        rgba(59, 130, 246, 0.4)
      );
      color: #ffffff;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15),
                0 10px 10px -5px rgba(0, 0, 0, 0.08);
      transition: all 450ms ease-in-out;
    }
  }
}

.footer {
  font-size: clamp(9pt, 2dvw, 10pt);
  color: var(--label-color);
}
