<p-toolbar [style]="{ 'border': '0', 'padding': '0', 'background': 'transparent'}">
  <ng-template #start>
     <article class="flex justify-start items-center gap-10">
      <div class="flex justify-start items-center gap-2">
        <label class="switch-button" for="switch">
          <div class="switch-outer">
            <input id="switch" type="checkbox"
              [checked]="isCollapsed"
              (change)="toggleCollapsed.emit()"
            />
            <div class="button">
              <span class="button-toggle"></span>
              <span class="button-indicator"></span>
            </div>
          </div>
        </label>
        <button pRipple class="btn_only_icon">
          <i class="pi pi-expand"></i>
        </button>
      </div>
      <div class="flex justify-start items-center gap-2">
        @for (breadcrumb of breadcrumbs; track breadcrumb.label; let last = $last)
        {
          @if (!last)
          {
            <a
              (click)="goBackTo(breadcrumb.label)"
            >
            {{ breadcrumb.label }}
            </a>
          }
          @if (last) { <i class="pi pi-{{  breadcrumb.icon }}"></i> {{ breadcrumb.label }} }
          @if (!last) { &nbsp;/&nbsp;&nbsp; }
        }
      </div>
    </article>
  </ng-template>

  <ng-template #center>
    Sat Dec 27 14:45:21
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <button pRipple class="btn_only_icon" (click)="toggleLanguage()">
        PT
      </button>
      <button pRipple class="btn_only_icon" (click)="toggleTheme()">
        <i
          class="pi"
          [ngClass]="isDark() ? 'pi-sun' : 'pi-moon'"
        ></i>
      </button>
      <button pRipple class="btn_only_icon">
        <p-overlaybadge severity="success">
          <i class="pi pi-comments"></i>
        </p-overlaybadge>
      </button>
      <button pRipple class="btn_only_icon">
        <p-overlaybadge severity="info">
          <i class="pi pi-bell"></i>
        </p-overlaybadge>
      </button>

      <div class="flex justify-center items-center">
        <img src="{{ logoUrl() }}" alt="logo" width="35">
      </div>
    </div>
  </ng-template>
</p-toolbar>
