<div  animate.enter="enter-animation"
  class="w-full flex justify-center items-top sm:mt-[5%]!"
  >
  <form class="login_card w-105 px-10 pt-7 pb-10 max-sm:w-full max-sm:shadow-none! max-sm:px-[10%]!"
  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 grid gap-8">
      <h2>
        Reset Your Password
      </h2>
      <p class="login_subtitle">
        Your password must be at least 6 characters long and include a combination of numbers, lowercase letters (a-z), uppercase letters (A-Z), and special characters (!$&#64;%).
      </p>
    </div>

    <div class="w-full mt-7 flex flex-wrap justify-center items-end gap-3">
      <p-iconfield class="w-full">
        <p-inputicon class="pi pi-lock" />
          <input type="{{ isNewPassVisible ? 'text' : 'password' }}"
            pInputText id="on_newPassword"
            autocomplete="off" formControlName="newPassword"
            [ngClass]="{'invalid-input': isNewPassError}"
            placeholder="Nova Palavra-passe"
          />
        <p-inputicon
          class="password-icon"
          [ngClass]="isNewPassVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
          (click)="togglePassword('new')"
        ></p-inputicon>
      </p-iconfield>
      @if (isNewPassError) {
          <small class="invalid-field">
          {{ newPassErrorMsg }}
        </small>
      }
      @if (isNewPassError) {
        <div class="mb-1"></div>
      }

      <p-iconfield class="w-full">
        <p-inputicon class="pi pi-lock" />
        <input type="{{ isConfirmPassVisible ? 'text' : 'password' }}"
          pInputText id="on_confirmPassword"
          autocomplete="off" formControlName="confirmPassword"
          [ngClass]="{'invalid-input': isConfirmPassError}"
          placeholder="Confirme Nova Palavra-passe"
        />
        <p-inputicon
          class="password-icon"
          [ngClass]="isConfirmPassVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
          (click)="togglePassword('confirm')"
        ></p-inputicon>
      </p-iconfield>
      @if (isConfirmPassError) {
        <small class="invalid-field">
          {{ confirmPassErrorMsg }}
        </small>
      }
      @if (isConfirmPassError) {
        <div class="mb-1"></div>
      }
    </div>

    <div class="mt-8"></div>
    <button pRipple type="submit" [routerLink]="['/auth/success']"
      class="btn-submit w-full"
      >
      @if (showLoader) {
        <div class="loader">
          <span class="small_loader"></span>
        </div>
      }
      @else {
        Confirmar
      }
    </button>

    <span class="flex justify-start mt-5">
      <a pRipple type="button" class="btn-default text-sm"
        [routerLink]="['/auth/sign-in']"
      >Cancelar</a>
    </span>
  </form>
</div>
